$border:2px solid rgba($text,0.8);
$border-radius:0.25em;

input, button {
  font-family:$roboto;
  font-weight:300;
  font-size:1em;
  border-radius:$border-radius;
  border:$border;
}

input[type=text] {
  padding:5px 6px;
  color:$text;
  background-color:transparent;

  &:focus {
    outline:none;
    border-color:#3CBFE7;
  }
}

button {
  background-size:150%;
  padding:6px 12px 5px;
  background-color:$background;
  color:$text;
}

.react-selectize-control {
  border:$border;
  border-radius:$border-radius;
}

.select-tag {
  padding:3px 6px;
  margin-right:5px;
  background-color:rgba(0,0,0,0.1);
  color:$text;
  border-radius:0.15em;

  .delete {
    margin-left:4px;
    opacity:0.5;
  }
}

.react-selectize.multi-select .react-selectize-toggle-button-container {
  display:none!important;
}

.react-selectize.simple-select {

  &.open .react-selectize-control {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }

  .dropdown-menu {
    margin-top:-2px;
    border:$border;
    border-bottom-right-radius:$border-radius;
    border-bottom-left-radius:$border-radius;
  }
}

form {
  display:flex;
  align-items:center;
  margin-bottom:3em;

  label {
    text-align:right;
    flex:0 0 30%;
  }

  & > input {
    width:100%;
    flex:1 0 40%;
    margin:0 1em;
  }

  .react-selectize.root-node {
    min-width:40%;
    margin:0 1em;
  }

  button {
    text-align:center;
    flex:1 0 10%;
  }

}

form.disabled {
  opacity:0.6;
  pointer-events:none;
}
