/*
  converted + customized version of the base react-selectize styles found here:
  https://github.com/furqanZafar/react-selectize/blob/master/themes/base.styl
  https://github.com/furqanZafar/react-selectize/blob/master/themes/default.styl
*/

// base

.react-selectize {
  color: $text;

  &.root-node {
    position: relative;
    min-width:200px;

    &.disabled {
      pointer-events: none;
    }

    .react-selectize-control {
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      position: relative;
      padding:0 2px;

      .react-selectize-placeholder {
        padding-top: 1px;
        display: block;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        position: absolute;
        max-width: calc(100% - 56px);
      }

      .react-selectize-search-field-and-selected-values {
        display: flex;
        min-height: 30px;
        flex-grow: 1;
        flex-wrap: wrap;

        .resizable-input {
          background: none;
          border: none;
          outline: none;
          font-size: 1em;
          margin: 0 2px;
          padding: 4px 0px;
          vertical-align: middle;
          width: 0px;
          font-family:$monospace;
        }

        .value-wrapper {
          display: flex;
          align-items: center;
        }
      }

      .react-selectize-reset-button-container, .react-selectize-toggle-button-container {
        padding-top: 1px;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
      }

      .react-selectize-reset-button-container {
        width: 16px;
        display: none; // maybe?
      }

      .react-selectize-toggle-button-container {
        width: 32px;
      }

      .react-selectize-reset-button-container:hover .react-selectize-reset-button path {
        stroke: #c0392b;
      }

      .react-selectize-reset-button path {
        transition: stroke 0.5s 0s ease;
        stroke: #999;
        stroke-linecap: square;
        stroke-linejoin: mitter;
      }

      .react-selectize-toggle-button path {
        fill: #bbb;
      }
    }
  }

  &.dropdown-menu-wrapper {
    position: absolute;

    &.tethered {
      min-width: 300px;
    }

    &:not(.tethered) {
      width: 100%;
    }
  }

  &.dropdown-menu {
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    max-height: 300px;
    z-index: 10;

    &.tethered {
      min-width: 300px;
    }

    &:not(.tethered) {
      width: 100%;
    }

    .groups.as-columns {
      display: flex;

      > div {
        flex: 1;
      }
    }

    .option-wrapper {
      cursor: pointer;
      outline: none;
    }
  }
}

.multi-select.react-selectize.root-node .simple-value {
  display: inline-block;
  margin: 2px;
  vertical-align: middle;

  span {
    display: inline-block;
    padding: 2px 5px 4px;
    vertical-align: center;
  }
}

.simple-select.react-selectize.root-node .simple-value {
  margin: 2px;

  span {
    display: inline-block;
    word-break:break-all;
    vertical-align: center;
  }
}

// default theme

.react-selectize {
  &.default {
    font-family:$monospace;

    &.root-node {
      .react-selectize-control {
        background-color:transparent;
        font-size:1em;

        .react-selectize-placeholder {
          color:rgba(0,0,0,0.3);
          text-transform:lowercase;
          text-indent:8px;
        }

      }

    }

    &.simple-select {
      .react-selectize-search-field-and-selected-values {
        padding-left:4px;
      }
    }
    &.multi-select {
      .react-selectize-search-field-and-selected-values {
        padding-left:2px;
      }
    }
  }

  &.dropdown-menu-wrapper.default {
    overflow: hidden;

    .dropdown-menu {
      &.custom-enter-active, &.custom-leave-active {
        transition: transform 0.2s 0s ease;
      }

      &.flipped {
        &.custom-enter {
          transform: translateY(100%);
        }

        &.custom-enter-active, &.custom-leave {
          transform: translateY(0%);
        }

        &.custom-leave-active {
          transform: translateY(100%);
        }
      }

      &:not(.flipped) {
        &.custom-enter {
          transform: translateY(-100%);
        }

        &.custom-enter-active, &.custom-leave {
          transform: translateY(0%);
        }

        &.custom-leave-active {
          transform: translateY(-100%);
        }
      }
    }
  }

  &.dropdown-menu.default {
    background-color:rgba($background, 0.9);
    background-position:4px -5px;

    .no-results-found {
      font-style: oblique;
      padding: 8px 10px;
    }

    .simple-group-title {
      background-color:transparent;
      padding: 8px 8px;
    }

    .option-wrapper {
      &.highlight {
        background:rgba(0,0,0,0.05);
      }

      .simple-option {
        cursor: pointer;
        padding: 8px 10px;

        &.not-selectable {
          cursor: default;
          font-style: oblique;
        }
      }
    }
  }
}
