$text:#111;
$roboto:'Roboto',sans-serif;

@import 'reset';
@import 'input';


body, html {min-height:100vh;}

body {
  font-family:$roboto;
  font-weight:300;
  color:$text;
}

.app {
  max-width:800px;
  margin:0 auto;
}

h2 {
  margin-bottom:0.5em;
}
